@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-green-800 
           text-white 
           md:container 
           md:mx-auto
           px-8
           font-mono;
  }
  h1 {
    @apply text-2xl
      py-2;
  }
  h2 {
    @apply text-xl
      py-2;
  }
  h3 {
    @apply text-lg
      py-2;
  }
  form {
    @apply mb-6;
  }
  button {
    @apply py-2 
            px-4 
            bg-red-500 
            text-white 
            font-semibold
            shadow-md 
            inline-block
            hover:bg-red-700 
            focus:bg-red-700;
  }
  input {
    @apply py-2 
            px-4 
            bg-green-300 
            text-white 
            font-semibold 
            shadow-md 
            hover:bg-green-500 
            focus:bg-green-500 
            focus:outline-none
            w-full;
  }
  select {
    @apply py-2 
            px-4 
            bg-green-300 
            text-white 
            font-semibold 
            shadow-md 
            hover:bg-green-500 
            focus:bg-green-500 
            focus:outline-none
            w-full;
  }
  .icon {
    @apply h-6 w-6 text-white m-auto;
  }
  .link {
    @apply flex 
      align-baseline 
      justify-center
      font-normal 
      text-sm 
      text-white 
      hover:text-green-300;
  }
  .form-simple {
    @apply mb-4 
      grid 
      grid-cols-3 
      gap-4;
  }
  .form-complex {
    @apply mb-4 
      grid 
      grid-cols-1 
      sm:grid-cols-2 
      md:grid-cols-2 
      xl:grid-cols-2
      gap-4;
  }
  .form-complex-button {
    @apply col-span-1 
      sm:col-span-2 
      md:col-span-2 
      xl:col-span-2;
  }
  .form-simple-label {
    @apply col-span-2;
  }
  .page-body-label {
    @apply text-green-300 
      text-2xl 
      flex 
      justify-center 
      border-b-2 
      py-2 
      mb-4;
  }
  .page {
    @apply flex 
      items-center 
      justify-center;
  }
  .page-body-md {
    @apply w-full 
      max-w-md
      m-auto;
  }
  .page-body-full {
    @apply w-full;
  }
  .page-body-buttons {
    @apply flex 
      items-center 
      justify-between
      mb-4;
  }
  .gameboard {
    @apply grid 
      grid-cols-1 
      sm:grid-cols-2 
      md:grid-cols-3 
      xl:grid-cols-4 
      gap-4;
  }
  .gameboard-card {
    @apply flex 
      flex-col 
      items-center 
      justify-center
      bg-green-300 
      hover:bg-green-500 
      focus:bg-green-500 
      p-4 
      shadow;
  }
  .gameboard-card-title {
    @apply mt-4 
      focus:outline-none
      font-bold 
      text-xl;
  }
  .match-row {
    @apply px-5 
      py-5 
      border-b 
      border-green-500 
      bg-green-300
      text-sm 
      font-semibold 
      text-gray-600 
      w-2/5;
  }
  .table-frame {
    @apply -mx-4 
      sm:-mx-8 
      sm:px-8 
      py-4 
      overflow-x-auto;
  }
  .table-div {
    @apply inline-block 
      min-w-full 
      shadow
      overflow-hidden;
  }
  .table {
    @apply min-w-full 
      leading-normal;
  }
  .icon-img {
    @apply w-full h-full;
  }
  .match-home-team-row {
    @apply flex items-center;
  }
  .match-team-icon {
    @apply flex-shrink-0 
      w-10 
      h-10 
      hidden 
      sm:table-cell;
  }
  .match-away-team-row-name {
    @apply mr-3;
  }
  .match-home-team-row-name {
    @apply ml-3;
  }
  .match-away-team-row {
    @apply flex items-center float-right;
  }
  .match-away-team-row-name {
    @apply ml-3;
  }
  .match-home-team-row-name-p {
    @apply text-gray-900 
      whitespace-nowrap;
  }
  .match-result-p {
    @apply text-gray-900 whitespace-nowrap text-center;
  }
  .match-away-team-row-name-p {
    @apply text-gray-900 
      whitespace-nowrap 
      text-right;
  }
  .match-table-result-row {
    @apply px-5 
      py-5 
      border-b
      border-green-500
      bg-green-300
      text-sm;
  }
  .header {
    @apply px-5 
      py-3 
      border-b-2 
      border-green-500 
      bg-green-500  
      text-center 
      text-xs 
      font-semibold 
      text-gray-600 
      uppercase 
      tracking-wider;
  }
  .scoreboard-header{
    @apply px-5 
      py-3 
      border-b-2 
      border-green-500 
      bg-green-500  
      text-left 
      text-xs 
      font-semibold 
      text-gray-600 
      uppercase 
      tracking-wider;
  }
  .scoreboard-points-row {
    @apply px-5 
    py-5 
    border-b 
    border-green-500 
    bg-green-300
    text-center
    text-sm 
    font-semibold 
    text-gray-600 
    w-1/5;
  }
  .scoreboard-score-row {
    @apply px-5 
    py-5 
    border-b 
    border-green-500 
    bg-green-300
    text-center
    text-sm 
    font-semibold 
    text-gray-600 
    w-2/5;
  }
  .scoreboard-name-row {
    @apply px-5 
    py-5 
    border-b 
    border-green-500 
    bg-green-300
    text-left
    text-sm 
    font-semibold 
    text-gray-600 
    w-2/5;
  }
  .dashboard-host-panel {
    @apply grid 
      grid-cols-1 
      sm:grid-cols-2 
      md:grid-cols-2 
      xl:grid-cols-2
      gap-8;
  }
}
